@import "constants/width";


.about_us{
  background-color: #3e4041;
  padding: 0 3px;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);


  .text{
    margin: 0 1em;
    font-size: 1em;
    line-height: 24px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);


    @include tablet{
      margin: 0 2em;
    }

    @include desktop {
      line-height: 34px;
  }

  }

  .about_us_container{
    object-fit: contain;
    position: relative;


    figure{
      position: relative;
      text-align: center;

      @include tablet{
        padding: 3em 0;
      }

      img{
        display: block;
        width: 100%;

        @include tablet{
          width: calc(41vw);;
        }
      }
    }

    caption{
      position: relative;
      padding: 0 2em;
      border-radius: 3px;
      top: -48px;
      color : #c1adad;
      display: inline-block;
      background-color: rgba(34, 37, 40, 0.6);
    }

    @include tablet{
      display: flex;
      flex-direction: row;
    }

  }

  .profile_img{
    width:100%;
    height: 100%;
    align-self: center;

    @include tablet{
      width: 50%;
      align-self: baseline;
    }
  }

  .text_container{
    color: white;
    font-family: Alcubierre;
    text-align: justify;

    @include laptop {
      padding-top: 2em;
    }

    .title{
      font-family: Deadmobil;
      text-align: center;
      font-size: 1.6em;
      color: #c6b6a2;
      align-self: center;
      text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

      @include i_phones{
        font-size: 2em;
      }

      @include i_phone_plus{
        font-size: 2.3em;
      }

      @include tablet{
        font-size: 2em;
      }

      @include laptop {
        font-size: 2.4em;
      }


      h2{
        font-size: 12px;

      }

      .text{
        text-align: justify;
      }
    }

  }

}