@import "constants/width";
@import "constants/colors";

$center-form-space: 0.2rem;
$input-font-size: 1.6rem;
$default-input-border: solid 0.2rem $black;
$error-input-border: solid 0.2rem $red;

.contact {
  padding: 2rem 3rem 4rem;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 50%;
  background-image: url("https://i.ibb.co/8c6L6SF/annie-spratt-370971-unsplash-horizontal.jpg");


  form{

    //background-color: yellow;

    .contact_button_container{
      //background-color: aliceblue;
      position: relative;
      display: flex;
      justify-content: center;
      height: 15em;
      padding-top: 1em;
    }

    .stamp{
      margin: auto;
      margin-top: 32px;
      color: #555;
      font-size: 4rem;
      font-weight: 700;
      border: 0.25rem solid #c11717;
      display: inline-block;
      padding: 0.25rem 1rem;
      text-transform: uppercase;
      border-radius: 1rem;
      font-family: 'Courier';
      -webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
      -webkit-mask-size: 944px 604px;
      //mix-blend-mode: multiply;
      background-color: rgba(245, 239, 239, 0.20);
      text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
      -webkit-transition: all 100ms ease;


      &:hover{
        background:lighten(rgba(234, 250, 241, 0.91), 20%);
        transform: scale(1.1);
        -webkit-transition: all 100ms ease;
      }
    }

    .is_approved {
      color: #c11717;
      border: 0.5rem solid #c11717;
      -webkit-mask-position: 13rem 6rem;

      border-radius: 0;
      text-shadow: 2px 4px 3px rgba(0,0,0,0.8);
    }

    @media only screen and (min-width:768px) {
      width: 90vw;

      .stamp{
        font-size: 6rem

      }
    }

    @media screen and (min-width: 1921px) {
      width: 64vw;

    }

  }



  p{
    font-family: Leafy;
    font-size: 2rem;
    line-height: 2.6rem;
    text-align: center;
    max-width: $MAX_WIDTH;
    color: #ece6e6;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    margin: 4rem auto;
  }
  @media only screen and (min-width: 768px) {
    p{
      font-size: 3.4rem;
    }
  }



  @include tablet {
    width: 100%;
    display: flex;
    padding: 4rem 0;
  }



  &-text {
    color: #131111;
    margin-top: 2rem;
    font-size: 1.4rem;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  }





}


.form_field{
  margin: 26px 0;
}

.form_error_text_box{
  position: absolute;
  margin: 0;
  color: #f5ab47;
  font-size: 14px;
}



.form_error_field{
  position: absolute;
  margin: 0;
  color: #f5ab47;
  font-size: 14px;
}

