@import "constants/width";

.food_menu_container{

  display: flex;
  flex-flow: row wrap; //Magic part I
  flex-direction:column;
  outline: 1px #cf0909 solid;
  outline-offset: 4px;

  //ch1  ------------------------
  .header{
    background-color: #ffffff;

    .title{
      color: black;
      font-weight: bolder;
      margin-bottom: 12px;
    }

    p{
      color: black;
      text-transform: uppercase;
    }
  }

  //ch2 ------------------------

  .food_menu_body{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;

    .column-text-wrapper{
      flex-grow: 1; //Magic part III a
      text-align: center;
      background-color: #ffffff;
      h1, h2, h3, h4 , h5, h6{
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .title{
        font-family: Standaris, "sans-serif";
        display: inline-block;
        font-size: 28px;
        font-weight: bolder;
        color: red;
        text-transform: uppercase;


        @media only screen and(min-width: 1440px) {
          font-size: 6em;;
        }
      }

      .name{
        font-size: 1.6em;
        margin: 0;
        color: black;
        font-weight: bolder;

        @media only screen and(min-width: 1440px) {
          font-size: 3em;
        }
      }

      .text{
        font-size: 10.5px;
        color: black;
      }

      .price{
        color: black;
      }
    }

  }

  //ch3
  .footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding-bottom: 25px;

    .text{
      color: black;
      margin-bottom: 1em;
    }

    .logo{
      width: 14em;
      margin: 0 2em;

      @media only screen and(min-width: 768px) {
        width: 15em;
      }

      @media only screen and(min-width: 1024px) {
        width: 20em;
      }

      @media only screen and(min-width: 1440px) {
        width: 36em;
      }
    }
  }

}


//Magic part II
.food-menu-container >*{
  flex:1 1 auto;
  text-align:center;
}



@media all and (min-width: 600px) {
  .column { flex: 1 0 0; }
}

//Magic part IV
@media all and (min-width: 800px) {
  .column_left { order: 2; }
  .column_right { order: 3; }
  .footer  { order: 4; }
}


//Typography
@media only screen and(min-width: 768px) {
  .food-menu-container {
    .header{
      padding: 2em 0;

      .title{
        font-size: 6em;
      }
      p{
        font-size: 1.3em;
      }

    }

    .food-menu-body{
      .column-text-wrapper{
        padding: 2.5em;

        .title{
          font-size: 4em;
        }

        .text{
          font-size: 16px;
          line-height: 1.35em;
        }
      }
    }
  }
}

//NEW MENU STYLE

.food_menu{
  background-color: #282b2e;
  padding: 1em;
}

.container_menu{
  background-color: white;
  outline: 1px solid #cf0909;
  outline-offset: 4px;
  text-align: center;

  h1{
    font-size: 2.5em;
  }
}

.row_menu{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #282b2e;

}

.col_left_menu, .col_right_menu{
  text-align: center;
  flex: 0 0 100%;

  background-color: white;

  @include tablet{
    flex: 0 0 50%;
  }
}


.food_grouping{
  font-family: Standaris;
  font-size: 2em;
  color: #f3151d;
  font-weight: bolder;
}

.food_menu_header{

}

.food_name{
  font-family: "Le Super Serif";
  color: black;
  font-weight: bolder;
  padding: 0;
  margin: 0;
  font-size: 22px;
  line-height: 24px;

  @include i_phones{
    line-height: 10px;
  }



  @include desktop {
    font-size: 32px;
    line-height: 28px;
  }


}

.food_descrip{
  font-family: sans-serif;
  color: #222324;
  padding: 0 38px;
  font-weight: lighter;
  //line-height: 32px;
  margin-bottom: 45px;


  @include laptop {
    margin-bottom: 90px;
  }


}