@import "constants/width";

.page_header{
  top: 0;
  position: fixed;
  width: 100vw;

  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  border-bottom: 1px solid #fff;
  z-index: 10;


  .logo_area{
    position: relative;
    display: inline-block;
    margin: 8px;
    float: right;
    width: 17%;

    img{
      width: 100%;
    }

    @include tablet{
      width: 12%;
      padding: 0.25em 1em;
      float: none;
    }
  }
}


.mobile_menu{
  position: relative;
  padding: calc(1%) calc(2%);
  margin: 8px;
  background-color: rgba(85, 84, 76, 0.69);
  display: inline-block;
  border-radius: 5px;

  i{
    color: white;
    /* width: 100%; */
    font-size: 6vw;
    display: inline-block;
  }


  @include tablet{
    display: none;
  }

}




