@import "constants/width";

.story {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 50%;
  background-image: url("https://i.ibb.co/8c6L6SF/annie-spratt-370971-unsplash-horizontal.jpg");


  &_overlay {
    display: flex;

    align-content: center;


    background-color: rgba(237, 235, 233, 0.09);
    border: 4px solid #282b2e;


    @include tablet{
      padding: 5rem ;
    }




    p{
      position: relative;
      font-family: Leafy;
      margin: 12px 0;


      -webkit-font-smoothing: antialiased;

      @include laptop {
        font-size: 1.2em;
        color: #fff;
        text-align: justify;
      }

    }
  }

  //TEXT CONTAINER
  &_overlay span{
    position: relative;
    margin: 1em auto;
    background-color: rgba(10, 10, 10, 0.38);
    border: 1px solid rgba(240, 248, 255, 0.7);
    width: 90%;

    p{
      margin: 0 auto;
    }

    @include tablet{
      padding: 36px 5rem;
    }

  }

  &_title {
    position: relative;
    font-family: Deadmobil;
    margin: 0 auto;
    color: #000000;
    font-size: 3rem;
    text-align: center;
    text-shadow: #bba87b 1px 0 10px;
    /* text-shadow: #dfaa2f 1px 0 5px; */

    @include tablet{
      font-size: 5rem;
      margin-bottom: 36px
    }


    @include desktop {
      font-size: 7rem;
    }

  }

  &_text {


    font-size: 2rem;
    text-align: center ;
    max-width: 2150px;
    color: #ece6e6;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    //margin: 1rem auto;


    @include tablet{
      font-size: 2.7rem;
    }


    @include laptop {
      //background-color: lime;

      font-size: 3rem;
      margin: 4rem auto 8rem;
    }



    @include xl_4k{
      //background-color: lime;
      font-size: 6.4rem;
      //max-width: 1918px;
      //margin: 4rem auto 8rem;
    }


  }
}

